.row
  %h1.text-center Listing products
.row
  %ul.list-unstyled
    - counter = 0
    - @products.each do |product|
      - counter += 1
      %li.col-md-3
        %h2= link_to product.name, product
        %p
          =link_to product do
            =image_tag product.image, height: 200
        -if product.belongs_to_user? current_user
          .btn-group{role: "group"}
            = link_to 'Edit', edit_product_path(product), class: "btn btn-primary btn-sm"
            = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary btn-sm"
      - if counter % 4 === 0
        .clearfix

.row{style: "margin-top: 25px;"}
  %p
    = link_to 'New Product', new_product_path, class: 'btn btn-primary'
