.vagrant
rails
.idea/

# Ignore bundler config.
awesome_auctions/.bundle

# Ignore all logfiles and tempfiles.
awesome_auctions/config/secrets.yml

# Secret keys
awesome_auctions/config/secrets.yml
awesome_auctions/config/initializers/devise.rb
